Aggregation in SQL
-----

In [1]:
%load_ext sql
%sql sqlite:///./world-db

'Connected: @./world-db'

Let's ask some SQL queries over the `world` dataset using aggregation. 
Our first query finds the average population of countries in Europe.

In [3]:
%%sql
SELECT AVG(Population)
FROM Country
WHERE Continent = 'Europe';

 * sqlite:///./world-db
Done.

[(15871186.956521738,)]

The next query outputs the number of countries in Europe.

In [4]:
%%sql
SELECT COUNT(*) 
FROM Country
WHERE Continent = 'Europe';

 * sqlite:///./world-db
Done.

[(46,)]

Next, we want to compute the number of languages in the `CountryLanguage` table. Here we want to use `DISTINCT` inside the count, otherwise languages that are spoken in multiple countries will be counted multiple times!

In [5]:
%%sql
SELECT COUNT(DISTINCT Language)
FROM CountryLanguage ;

 * sqlite:///./world-db
Done.

[(457,)]

How can we find the name *and* population of the country with the max population in Europe? Notice that finding only the max population is easy, but if we want to output the country as well, it gets a bit tricky. We can write a nested query to solve this problem in an elegant way!

In [6]:
%%sql
SELECT Name, Population
FROM Country
WHERE Population = 
  (SELECT MAX(Population)
   FROM Country
   WHERE Continent = 'Europe');

 * sqlite:///./world-db
Done.

[('Russian Federation', 146934000)]

An alternative way is to use together `ORDER BY` and `LIMIT`. However, the two queries can sometimes give a different result. Can you think when this may happen?

In [7]:
%%sql
SELECT Name, Population
FROM Country
WHERE Continent = 'Europe'
ORDER BY Population DESC
LIMIT 1 ;

 * sqlite:///./world-db
Done.

[('Russian Federation', 146934000)]

We will see next how to use `GROUP BY`. The following SQL query computes the number of countries in every continent.

In [8]:
%%sql
SELECT Continent, COUNT(*) 
FROM Country 
GROUP BY Continent;

 * sqlite:///./world-db
Done.

[('Africa', 58),
 ('Antarctica', 5),
 ('Asia', 51),
 ('Europe', 46),
 ('North America', 37),
 ('Oceania', 28),
 ('South America', 14)]

We can combine `GROUP BY` with `ORDER BY` as well. The following SQL query finds out how many countries speak each language with percentage > 50% in decreasing order.

In [9]:
%%sql
SELECT Language, COUNT(CountryCode) AS N
FROM CountryLanguage
WHERE Percentage >= 50
GROUP BY Language
ORDER BY N DESC ;

 * sqlite:///./world-db
Done.

[('Spanish', 20),
 ('Arabic', 16),
 ('English', 11),
 ('Creole English', 8),
 ('Creole French', 6),
 ('German', 4),
 ('Serbo-Croatian', 3),
 ('Romanian', 2),
 ('Portuguese', 2),
 ('Papiamento', 2),
 ('Korean', 2),
 ('Italian', 2),
 ('Greek', 2),
 ('Dutch', 2),
 ('Crioulo', 2),
 ('Chinese', 2),
 ('Canton Chinese', 2),
 ('Vietnamese', 1),
 ('Uzbek', 1),
 ('Ukrainian', 1),
 ('Tuvalu', 1),
 ('Turkmenian', 1),
 ('Turkish', 1),
 ('Tswana', 1),
 ('Tongan', 1),
 ('Thai', 1),
 ('Tadzhik', 1),
 ('Swedish', 1),
 ('Swazi', 1),
 ('Sranantonga', 1),
 ('Sotho', 1),
 ('Somali', 1),
 ('Slovene', 1),
 ('Slovak', 1),
 ('Singali', 1),
 ('Shona', 1),
 ('Seselwa', 1),
 ('Samoan-English', 1),
 ('Samoan', 1),
 ('Rwanda', 1),
 ('Russian', 1),
 ('Polish', 1),
 ('Pashto', 1),
 ('Papuan Languages', 1),
 ('Palau', 1),
 ('Ovambo', 1),
 ('Norwegian', 1),
 ('Nepali', 1),
 ('Nauru', 1),
 ('Mossi', 1),
 ('Mongolian', 1),
 ('Min', 1),
 ('Marshallese', 1),
 ('Maltese', 1),
 ('Malenasian Languages', 1),
 ('Malay', 1),
 ('Malagasy', 1),
 ('Macedonian', 1),
 ('Luxembourgish', 1),
 ('Lithuanian', 1),
 ('Latvian', 1),
 ('Lao', 1),
 ('Kongo', 1),
 ('Kirundi', 1),
 ('Kiribati', 1),
 ('Kirgiz', 1),
 ('Khmer', 1),
 ('Japanese', 1),
 ('Icelandic', 1),
 ('Hungarian', 1),
 ('Hebrew', 1),
 ('Hausa', 1),
 ('Hassaniya', 1),
 ('Haiti Creole', 1),
 ('Greenlandic', 1),
 ('Georgiana', 1),
 ('French', 1),
 ('Finnish', 1),
 ('Fijian', 1),
 ('Faroese', 1),
 ('Fang', 1),
 ('Estonian', 1),
 ('Dzongkha', 1),
 ('Dhivehi', 1),
 ('Danish', 1),
 ('Czech', 1),
 ('Comorian', 1),
 ('Chichewa', 1),
 ('Burmese', 1),
 ('Bulgariana', 1),
 ('Bislama', 1),
 ('Bengali', 1),
 ('Belorussian', 1),
 ('Bajan', 1),
 ('Azerbaijani', 1),
 ('Armenian', 1),
 ('Albaniana', 1),
 ('Akan', 1)]

The `HAVING` clause allows us to express conditions over properties of *groups*, and not only individual tuples. `HAVING` always follows a `GROUP BY`. As an example, the following SQL query finds out the languages that are spoken in at least 3 different countries with percentage at least 50.

In [10]:
%%sql
SELECT Language
FROM CountryLanguage
WHERE Percentage >= 50 
GROUP BY Language
HAVING COUNT(CountryCode) > 2;

 * sqlite:///./world-db
Done.

[('Arabic',),
 ('Creole English',),
 ('Creole French',),
 ('English',),
 ('German',),
 ('Serbo-Croatian',),
 ('Spanish',)]

**Exercise #1**: Write a query that outputs for each country the population of the most populated city, for countries with at least 10 cities.

Let's see how the use of `HAVING` compares with the use of correlated queries. Suppose that we want to find the names of the countries that have more than 10 cities with population at least 1 million. Here is a nested query that computes that:

In [10]:
%%sql
SELECT C.name
FROM Country C
WHERE (SELECT COUNT(*) 
       FROM City
       WHERE City.CountryCode = C.Code
       AND City.Population >= 1000000) > 10;

 * sqlite:///world-db
(sqlite3.OperationalError) no such table: Country
[SQL: SELECT C.name
FROM Country C
WHERE (SELECT COUNT(*)
       FROM City
       WHERE City.CountryCode = C.Code
       AND City.Population >= 1000000) > 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

We can measure the execution time of the query using `%time`.

In [11]:
%time %sql SELECT C.name FROM Country C WHERE (SELECT COUNT(*) FROM City WHERE City.CountryCode=C.Code AND City.Population >= 1000000) > 10;

 * sqlite:///world-db
(sqlite3.OperationalError) no such table: Country
[SQL: SELECT C.name FROM Country C WHERE (SELECT COUNT(*) FROM City WHERE City.CountryCode=C.Code AND City.Population >= 1000000) > 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
CPU times: user 1.17 ms, sys: 157 Âµs, total: 1.33 ms
Wall time: 1.16 ms

**Exercise #2**: Write the above query using `HAVING` and time its execution. How much faster does it run?